.text-icon {
  display: inline-block;
  stroke-width: 0 !important;
  shape-rendering: geometricPrecision;
  fill: currentColor;
  stroke: currentColor;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}