body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

a:-webkit-any-link {
	text-decoration: none !important;
}

/* .MuiInputBase-input {
  height: 0.5em !important;
} */

.MuiFormControl-root {
	width: 100%;
}
.wtHolder {
	height: fit-content !important;
}

.handsontable th {
	vertical-align: middle !important;
}

.MuiFilledInput-input {
	padding: 7px 12px 10px !important;
}

.MuiFilledInput-underline:before {
	border-bottom: 2px solid #2196f3 !important;
}

.MuiFilledInput-multiline {
	padding: 0px 8px 0px !important;
}

.MuiTypography-body1 {
	font-size: 14px !important;
}

/* tr:nth-child(even) {
  background-color: #f2f2f2 !important;
} */

/* .handsontable tr:nth-child(odd) {
	background-color: #f2f2f2 !important;
} */

.handsontable tr:nth-child(even) {
	background: #fff !important;
}

.handsontable tr:nth-child(odd) {
	background: #f2f2f2 !important;
}

.handsontable .striped thead tr {
	z-index: -1 !important;
}

.handsontable td,
.handsontable th {
	/* border-right: none !important;
	border-bottom: none !important; */
	background-color: none !important;
}

.handsontable span.colHeader {
	font-weight: 500;
	color: #109cf1;
	background-color: white;
}

.htDropdownMenu:not(.htGhostTable) {
	z-index: +2060 !important;
	position: absolute !important;
	/* display: none !important; */
}
/* .handsontable .stripped {
	background-color: #f2f2f2;
} */

.container {
	height: 100vh;
	display: flex;
	position: relative;
}

.sidy {
	height: 100%;
	width: 256px;
	background-color: #109cf1;
	color: white;
	position: absolute;
	top: 0;
	z-index: +20;
	display: none;
}

.logo {
	font-weight: bold;
	color: #109cf1;
	margin: auto 48px auto 0px;
	font-size: 28px;
}

.container div.logo:hover + .sidy {
	display: flex !important;
}

body .handsontable td {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	font-size: 12px;
}

body .handsontable th {
	color: red;
}

.handsontable .greyRow {
	background: #f2f2f2;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}

.handsontable thead th {
	background: #fff;
	border: 1px solid #fff !important;
	position: sticky;
	top: 50;
	/* z-index: -2; */
}

.handsontable tr:first-child td {
	border-top: 1px solid #fff !important;
}

.handsontable td:first-of-type {
	border-left: 1px solid #fff !important;
}

body .handsontable ::-webkit-scrollbar {
	width: 4px;
}

/* Track */
body .handsontable ::-webkit-scrollbar-track {
	background: #ebeff2;
	border-radius: 8px;
}

/* Handle */
body .handsontable ::-webkit-scrollbar-thumb {
	background: rgba(109, 109, 109, 0.36);
	border-radius: 8px;
}

.handsontable table {
	border-radius: 4px !important;
	border: 1pz solid #fff !important;
}

.handsontable .htDimmed {
	color: rgba(0, 0, 0, 0.87) !important;
}
